{% extends 'admin_dash/base.html' %} 

{% block content %}




<div class="container">
    <h2>Gestion des repas</h2>
    <div class="d-flex justify-content-center">
        <a href="{% url 'create_repas' %}" class="btn btn-warning"> <i class="fa fa-plus"></i> Ajouter un repas</a>
    </div>
    <br>
    <div class="row">
        {% for food in foods %}
       
        <div class="p-2hy  col-lg-4 col-sm-12 col-xs-12">
            <div class="card">
                <img src="{{food.images.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> {{food.Nom}} </h5>
                  <p class="card-text"> {{ food.description | truncatechars:100 }}</p>
                  <div class="d-flex justify-content-between">
                    <a href="{% url 'update_repas' food.id %}" class="btn btn-warning"> <i class="fa fa-edit"></i> Modifier</a>
                    <a href="{% url 'delete_repas' food.id %}" class="btn btn-danger"> <i class="fa fa-trash"></i> Supprimer</a>
                  </div>
                  
                </div>
            </div>
        </div>
       
       
       {% endfor %}
    
    </div>
</div>



{% endblock content %}
