{% extends "base_home.html" %}


{% block content %}
  



<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-lg-5 align-items-stretch video-box"
          style="background-image: url('assets/img/about.jpg')"
        >
          <a
            href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
            class="venobox play-btn mb-4"
            data-vbtype="video"
            data-autoplay="true"
          ></a>
        </div>

       

<a
  href="#"
  class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

{% endblock content %}